name: AI Code Review with OpenAI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  ai_code_review:
    runs-on: ubuntu-latest
    steps:
      - name: AI Code Review
        uses: AleksandrFurmenkovOfficial/ai-code-review@v1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          pr_number: ${{ github.event.number }}

          ai_provider: "openai"
          openai_api_key: ${{ secrets.OPENAI_API_KEY }}
          openai_model: "gpt-5.2"
